.sidebar-wrapper
  .sidebar-title kiwi-backstage
  hr
  .box
    a.link(href="./index.html" class=(page === 'index') ? "active" : "" ) 
      p Index
    .sub-list(class=(page === 'feedback'||page === 'media'||page === 'source'||page === 'taipower'||page === 'newsFlash'||page === 'faq'||page === 'partner'||page === 'persona'||page === 'promo') ? "active" : "") 
      a.link(href="./feedbackDetail.html" class=(page === 'feedback') ? "active" : "") 
        p FeedbackDetail
      a.link(href="./mediaData.html" class=(page === 'media') ? "active" : "") 
        p MediaData
      a.link(href="./sourceDetail.html" class=(page === 'source') ? "active" : "") 
        p SourceDetail
      a.link(href="./taipowerDetail.html" class=(page === 'taipower') ? "active" : "") 
        p TaipowerDetail
      a.link(href="./newsFlashDetail.html" class=(page === 'newsFlash') ? "active" : "") 
        p NewsFlashDetail
      a.link(href="./faqDetail.html" class=(page === 'faq') ? "active" : "") 
        p FaqDetail
      a.link(href="./partnerDetail.html" class=(page === 'partner') ? "active" : "") 
        p PartnerDetail
      a.link(href="./personaTabDetail.html" class=(page === 'persona') ? "active" : "") 
        p PersonaTabDetail
      a.link(href="./promoOptionDetail.html" class=(page === 'promo') ? "active" : "") 
        p PromoOptionDetail
    a.link(href="./about.html" class=(page === 'about') ? "active" : "") 
      p About
    a.link(href="./corporate.html" class=(page === 'corporate') ? "active" : "") 
      p Corporate
    a.link(href="./feature.html" class=(page === 'feature') ? "active" : "") 
      p Feature
    a.link(href="./campaigns.html" class=(page === 'campaigns') ? "active" : "") 
      p Campaigns
    .sub-list(class=(page === 'campaignsDetail') ? "active" : "") 
      a.link(href="./campaignsDetail.html" class=(page === 'campaignsDetail') ? "active" : "") 
        p CampaignsDetail
    a.link(href="./greenPower.html" class=(page === 'greenPower') ? "active" : "") 
      p GreenPower
    .sub-list(class=(page === 'greenPowerDetail') ? "active" : "") 
      a.link(href="./greenPowerDetail.html" class=(page === 'greenPowerDetail') ? "active" : "") 
        p GreenPowerDetail
    a.link(href="./report.html" class=(page === 'report') ? "active" : "") 
      p Report
    a.link(href="./store.html" class=(page === 'store') ? "active" : "") 
      p Store
    a.link(href="./header.html" class=(page === 'header') ? "active" : "") 
      p Header
    a.link(href="./footer.html" class=(page === 'footer') ? "active" : "") 
      p Footer
    a.link(href="./unload.html" class=(page === 'unload') ? "active" : "") 
      p Unload


