.sidebar-wrapper
  .sidebar-title kiwi-backstage
  hr
  .box
    a.link.active(href="./index.html") 
      p Index
    .sub-list
      a.link(href="./feedbackDetail.html") 
        p FeedbackDetail
      a.link(href="./mediaData.html") 
        p MediaData
      a.link(href="./sourceDetail.html") 
        p SourceDetail
      a.link(href="./taipowerDetail.html") 
        p TaipowerDetail
      a.link(href="./newsFlashDetail.html") 
        p NewsFlashDetail
      a.link(href="./faqDetail.html") 
        p FaqDetail
      a.link(href="./partnersDetail.html") 
        p PartnersDetail
      a.link(href="./personaTabDetail.html") 
        p PersonaTabDetail
      a.link(href="./promoOptionDetail.html") 
        p PromoOptionDetail
    a.link(href="./about.html") 
      p About
    a.link(href="./corporate.html") 
      p Corporate
    a.link(href="./feature.html") 
      p Feature
    a.link(href="./campaigns.html") 
      p Campaigns
    .sub-list
      a.link(href="./campaignsDetail.html") 
        p CampaignsDetail
    a.link(href="./greenPower.html") 
      p GreenPower
    .sub-list
      a.link(href="./greenPowerDetail.html") 
        p GreenPowerDetail
    a.link(href="./report.html") 
      p Report
    a.link(href="./store.html") 
      p Store
    a.link(href="./header.html") 
      p Header
    a.link(href="./footer.html") 
      p Footer
    a.link(href="./unload.html") 
      p Unload


