extend ../Layout.pug

block pageCSS
  //- link(href="./css/index.css", rel="stylesheet")

block pageJs
  script(src="./js/about.js")
  
block pageType
  - var page = 'about'
  
//- block head
//-   include ../components/Header.pug

//- block footer
//-   include ../components/Footer.pug

block body
  article.about-page
    h1 About
    hr
    form#dataForm.row.g-3.needs-validation(novalidate='')
      .wrapper.c-2
        .content
          h3 meta
          .form-row
            .col-md-12
              label.form-label(for='meta_title') meta標題
              input#meta_title.form-control.form-bind-data(type='text' name="meta_title" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='meta_description') meta描述
              input#meta_description.form-control.form-bind-data(type='text' name="meta_description" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='meta_siteName') meta網站名稱
              input#meta_siteName.form-control.form-bind-data(type='text' name="meta_siteName" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='meta_img') meta圖片
              input.form-control(type='file' value='' imgClass="meta_img")
              input#meta_img.form-control.form-bind-data(type='hidden' name="meta_img" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
              img.file-img.meta_img(src="")
        .content
          h3 heading
          .form-row
            .col-md-12
              label.form-label(for='heading_title') 標題
              input#heading_title.form-control.form-bind-data(type='text' name="heading_title" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='heading_description') 描述
              input#heading_description.form-control.form-bind-data(type='text' name="heading_description" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
        .content
          h3 subheading
          .form-row
            .col-md-12
              label.form-label(for='subheading_description') 描述
              textarea#subheading_description.form-control.form-bind-data(type='text' name="subheading_description" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='subheading_img') 圖片
              input.form-control(type='file' value='' imgClass="subheading_img")
              input#subheading_img.form-control.form-bind-data(type='hidden' name="subheading_img" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
              img.file-img.subheading_img(src="")
        .content
          h3 splashImg
          .form-row
            .col-md-12
              label.form-label(for='splashImg') 圖片
              input.form-control(type='file' value='' imgClass="splashImg")
              input#splashImg.form-control.form-bind-data(type='hidden' name="splashImg" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
              img.file-img.splashImg(src="")
        .content
          h3 year
          .form-row
            .col-md-12
              label.form-label(for='year_title') 年份標題
              input#year_title.form-control.form-bind-data(type='text' name="year_title" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .items-title year_itmes
            .items-box(data-itemKey="vision_items")
              .items
                .col-md-12
                  label.form-label 標題
                  input.form-control.form-bind-items-data(type='text' name="vision_items_title" value='items1' required='')
                  .valid-feedback
                    | OK!
                  .invalid-feedback
                    | 不得為空
            .btn-add.btn.btn-sm.btn-primary(data-copy="vision_items") 新增
      button.btn.btn-primary(type='submit') Submit form





