extend ../Layout.pug

block pageCSS
  //- link(href="./css/index.css", rel="stylesheet")

block pageJs
  script(src="./js/form.js")
  //- script(src="./js/corporate.js")
  
block pageType
  - var page = 'corporate'
  
//- block head
//-   include ../components/Header.pug

//- block footer
//-   include ../components/Footer.pug

block body
  article.corporate-page
    h1 Corporate
    hr
    form#dataForm.row.g-3.needs-validation(novalidate='')
      .wrapper.c-2
        .content
          h3 meta
          .form-row
            .col-md-12
              label.form-label(for='meta_title') meta標題
              input#meta_title.form-control.form-bind-data(type='text' name="meta_title" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='meta_description') meta描述
              input#meta_description.form-control.form-bind-data(type='text' name="meta_description" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='meta_siteName') meta網站名稱
              input#meta_siteName.form-control.form-bind-data(type='text' name="meta_siteName" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='meta_img') meta圖片
              input.form-control(type='file' value='' imgClass="meta_img")
              input#meta_img.form-control.form-bind-data(type='hidden' name="meta_img" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
              img.file-img.meta_img(src="")
        .content
          h3 form
          .form-row
            .col-md-12
              label.form-label(for='form_title') 標題
              input#form_title.form-control.form-bind-data(type='text' name="form_title" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='form_subtitle') 描述
              input#form_subtitle.form-control.form-bind-data(type='text' name="form_subtitle" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
        .content
          h3 subheading
          .form-row
            .col-md-12
              label.form-label(for='subheading_description') 描述
              textarea#subheading_description.form-control.form-bind-data(type='text' name="subheading_description" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='subheading_img') 圖片
              input.form-control(type='file' value='' imgClass="subheading_img")
              input#subheading_img.form-control.form-bind-data(type='hidden' name="subheading_img" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
              img.file-img.subheading_img(src="")
        .content
          h3 general
          .form-row
            .col-md-12
              label.form-label(for='general_title') 標題
              input#general_title.form-control.form-bind-data(type='text' name="general_title" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
        .content
          h3 why
          .form-row
            .col-md-12
              label.form-label(for='why_title') 標題
              input#why_title.form-control.form-bind-data(type='text' name="why_title" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='why_description') 描述
              input#why_description.form-control.form-bind-data(type='text' name="why_description" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='why_img') 圖片
              input.form-control(type='file' value='' imgClass="why_img")
              input#why_img.form-control.form-bind-data(type='hidden' name="why_img" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
              img.file-img.why_img(src="")
        .content
          h3 vision
          .form-row
            .col-md-12
              label.form-label(for='vision_title') 標題
              input#vision_title.form-control.form-bind-data(type='text' name="vision_title" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='vision_subtitle') 子標題
              input#vision_subtitle.form-control.form-bind-data(type='text' name="vision_subtitle" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .items-title vision_items
            .items-box#vision_items(data-itemKey="vision_items")
              .items
                .col-md-12
                  label.form-label 標題
                  input.form-control.form-bind-items-data(type='text' name="vision_items_title" value='' required='')
                  .valid-feedback
                    | OK!
                  .invalid-feedback
                    | 不得為空
                .col-md-12
                  label.form-label 圖片
                  input.form-control(type='file' value='' imgClass="vision_items_img")
                  input.form-control.form-bind-items-data(type='hidden' name="vision_items_img" value='' required='')
                  img.file-img.vision_items_img(src="")
                  .valid-feedback
                    | OK!
                  .invalid-feedback
                    | 不得為空
            .btn-add.btn.btn-sm.btn-primary(data-copy="vision_items") 新增

              

      .page-data(data-apiUrl="/api/v1/corporate" data-nextTo="corporate.html" data-isMainPage="1")
      .btn-box
        button.submit.btn.btn-primary(type='submit') Submit
        button.draft.btn.btn-primary(type='submit') preview

    .hidde-box
      .vision_items
        .items
          .col-md-12
            label.form-label 標題
            input.form-control.form-bind-items-data(type='text' name="vision_items_title" value='' required='')
            .valid-feedback
              | OK!
            .invalid-feedback
              | 不得為空
          .col-md-12
            label.form-label 圖片
            input.form-control(type='file' value='' imgClass="vision_items_img")
            input.form-control.form-bind-items-data(type='hidden' name="vision_items_img" value='' required='')
            img.file-img.vision_items_img(src="")
            .valid-feedback
              | OK!
            .invalid-feedback
              | 不得為空



