extend ../Layout.pug

block pageCSS
  //- link(href="./css/index.css", rel="stylesheet")

block pageJs
  script(src="./js/form.js")
  
block pageType
  - var page = 'faq'
  
//- block head
//-   include ../components/Header.pug

//- block footer
//-   include ../components/Footer.pug

block body
  article.faq-detail-form-page
    h1 FaqDetail
    hr
    form#dataForm.row.g-3.needs-validation(novalidate='')
      .wrapper
        //- h3 meta
        .content
          .form-row
            .col-md-12
              label.form-label(for='title') 標題
              input#title.form-control.form-bind-data(type='text' name="title" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='content') 內容
              textarea#content.form-control.form-bind-data(type='text' name="content" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='order') 順序
              input#order.form-control.form-bind-data(type='number' name="order" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
      .page-data(data-apiUrl="/api/v1/index/faq/detail" data-nextTo="faqDetail.html")
      input.form-control.form-bind-data(type='hidden' name="id" value='' required='')
      button.btn.btn-primary(type='submit') Submit form





