extend ../Layout.pug

block pageCSS
  //- link(href="./css/index.css", rel="stylesheet")

block pageJs
  script(src="./js/feedbackDetail.js")
  
block pageType
  - var page = 'feedback'
  
//- block head
//-   include ../components/Header.pug

//- block footer
//-   include ../components/Footer.pug

block body
  article.feedback-detail-page
    h1 feedback-detail
    .btn.add-btn.btn-primary 新增
    hr
    table.table.table-striped
      thead.thead-dark
        tr
          th(scope='col') *
          th(scope='col') 姓名
          th(scope='col') 性質
          th(scope='col') 評分分數
          th(scope='col') 敘述
          th(scope='col') 照片
          th(scope='col') 是否啟用
          th(scope='col') 
      tbody







