extend ../Layout.pug

block pageCSS
  //- link(href="./css/index.css", rel="stylesheet")

block pageJs
  script(src="./js/form.js")
  
block pageType
  - var page = 'footer'
  
//- block head
//-   include ../components/Header.pug

//- block footer
//-   include ../components/Footer.pug

block body
  article.footer-page
    h1 Footer
    hr
    form#dataForm.row.g-3.needs-validation(novalidate='')
      .wrapper.c-2
        .content
          h3 bottom
          .form-row
            .col-md-12
              label.form-label(for='bottom_copyright') Copyright
              input#bottom_copyright.form-control.form-bind-data(type='text' name="bottom_copyright" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .items-title bottomUrl_items
            .items-box#bottomUrl_items(data-itemKey="bottomUrl_items")
              .items
                .col-md-12
                  label.form-label 是否顯示
                  select.form-select.form-bind-items-select(name="bottomUrl_item_isEnable" required='')
                    option(value=1) 顯示
                    option(value=0) 不顯示
                  .valid-feedback
                    | OK!
                  .invalid-feedback
                    | 不得為空
                .col-md-12
                  label.form-label 標題
                  input.form-control.form-bind-items-data(type='text' name="bottomUrl_item_title" value='' required='')
                  .valid-feedback
                    | OK!
                  .invalid-feedback
                    | 不得為空
                .col-md-12
                  label.form-label 連結
                  input.form-control.form-bind-items-data(type='text' name="bottomUrl_item_url" value='' required='')
                  .valid-feedback
                    | OK!
                  .invalid-feedback
                    | 不得為空
            .btn-add.btn.btn-sm.btn-primary(data-copy="bottomUrl_items") 新增
        .content
          h3 customerService
          .form-row
            .col-md-12
              label.form-label(for='customerService_isEnable') 是否顯示
              select#customerService_isEnable.form-select(name="customerService_isEnable" required='')
                option(value=1) 顯示
                option(value=0) 不顯示
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='customerService_title') 服務標題
              input#customerService_title.form-control.form-bind-data(type='text' name="customerService_title" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='customerService_value') 服務電話
              input#customerService_value.form-control.form-bind-data(type='text' name="customerService_value" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
        .content
          h3 lineService
          .form-row
            .col-md-12
              label.form-label(for='lineService_isEnable') 是否顯示
              select#lineService_isEnable.form-select(name="lineService_isEnable" required='')
                option(value=1) 顯示
                option(value=0) 不顯示
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='lineService_title') 服務標題
              input#lineService_title.form-control.form-bind-data(type='text' name="lineService_title" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='lineService_value') 服務電話
              input#lineService_value.form-control.form-bind-data(type='text' name="lineService_value" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='lineService_url') 服務連結
              input#lineService_url.form-control.form-bind-data(type='text' name="lineService_url" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='lineService_id') 事件代碼
              input#lineService_id.form-control.form-bind-data(type='text' name="lineService_id" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
        .content
          h3 menu
          .form-row
            .col-md-12
              label.form-label(for='menu_others_isEnable') menu_others是否顯示
              select#menu_others_isEnable.form-select(name="menu_others_isEnable" required='')
                option(value=1) 顯示
                option(value=0) 不顯示
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .items-title menu_others_items
            .items-box#menu_others_items(data-itemKey="menu_others_items")
              .items
                .col-md-12
                  label.form-label 是否顯示
                  select.form-select.form-bind-items-select(name="menu_others_item_isEnable" required='')
                    option(value=1) 顯示
                    option(value=0) 不顯示
                  .valid-feedback
                    | OK!
                  .invalid-feedback
                    | 不得為空
                .col-md-12
                  label.form-label 事件代碼
                  input.form-control.form-bind-items-data(type='text' name="menu_others_item_id" value='' required='')
                  .valid-feedback
                    | OK!
                  .invalid-feedback
                    | 不得為空
                .col-md-12
                  label.form-label 標題
                  input.form-control.form-bind-items-data(type='text' name="menu_others_item_title" value='' required='')
                  .valid-feedback
                    | OK!
                  .invalid-feedback
                    | 不得為空
                .col-md-12
                  label.form-label 連結
                  input.form-control.form-bind-items-data(type='text' name="menu_others_item_url" value='' required='')
                  .valid-feedback
                    | OK!
                  .invalid-feedback
                    | 不得為空
            .btn-add.btn.btn-sm.btn-primary(data-copy="menu_others_items") 新增
          .form-row
            .col-md-12
              label.form-label(for='menu_subscribe_isEnable') menu_subscribe是否顯示
              select#menu_subscribe_isEnable.form-select(name="menu_subscribe_isEnable" required='')
                option(value=1) 顯示
                option(value=0) 不顯示
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .items-title menu_subscribe_items
            .items-box#menu_subscribe_items(data-itemKey="menu_subscribe_items")
              .items
                .col-md-12
                  label.form-label 是否顯示
                  select.form-select.form-bind-items-select(name="menu_subscribe_item_isEnable" required='')
                    option(value=1) 顯示
                    option(value=0) 不顯示
                  .valid-feedback
                    | OK!
                  .invalid-feedback
                    | 不得為空
                .col-md-12
                  label.form-label 事件代碼
                  input.form-control.form-bind-items-data(type='text' name="menu_subscribe_item_id" value='' required='')
                  .valid-feedback
                    | OK!
                  .invalid-feedback
                    | 不得為空
                .col-md-12
                  label.form-label 標題
                  input.form-control.form-bind-items-data(type='text' name="menu_subscribe_item_title" value='' required='')
                  .valid-feedback
                    | OK!
                  .invalid-feedback
                    | 不得為空
                .col-md-12
                  label.form-label 連結
                  input.form-control.form-bind-items-data(type='text' name="menu_subscribe_item_url" value='' required='')
                  .valid-feedback
                    | OK!
                  .invalid-feedback
                    | 不得為空
            .btn-add.btn.btn-sm.btn-primary(data-copy="menu_subscribe_items") 新增
        .content
          h3 openTime
          .form-row
            .col-md-12
              label.form-label(for='openTime_isEnable') 是否顯示
              select#openTime_isEnable.form-select(name="openTime_isEnable" required='')
                option(value=1) 顯示
                option(value=0) 不顯示
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='openTime_title') 標題
              input#openTime_title.form-control.form-bind-data(type='text' name="openTime_title" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='openTime_value') 內容
              input#openTime_value.form-control.form-bind-data(type='text' name="openTime_value" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
        .content
          h3 social
          .form-row
            .items-title social_items
            .items-box#social_items(data-itemKey="social_items")
              .items
                .col-md-12
                  label.form-label 圖片
                  input.form-control(type='file' value='' imgClass="social_item_icon")
                  input.form-control.form-bind-items-data(type='hidden' name="social_item_icon" value='' required='')
                  img.file-img.social_item_icon(src="")
                  .valid-feedback
                    | OK!
                  .invalid-feedback
                    | 不得為空
                .col-md-12
                  label.form-label 連結
                  input.form-control.form-bind-items-data(type='text' name="social_item_url" value='' required='')
                  .valid-feedback
                    | OK!
                  .invalid-feedback
                    | 不得為空
            .btn-add.btn.btn-sm.btn-primary(data-copy="social_items") 新增

      .page-data(data-apiUrl="/api/v1/footer" data-nextTo="footer.html" data-isMainPage="1")
      .btn-box
        button.submit.btn.btn-primary(type='submit') Submit
        button.draft.btn.btn-primary(type='submit') preview

    .hidde-box
      .bottomUrl_items
        .items
          .col-md-12
            label.form-label 是否顯示
            select.form-select.form-bind-items-select(name="bottomUrl_item_isEnable" required='')
              option(value=1) 顯示
              option(value=0) 不顯示
            .valid-feedback
              | OK!
            .invalid-feedback
              | 不得為空
          .col-md-12
            label.form-label 標題
            input.form-control.form-bind-items-data(type='text' name="bottomUrl_item_title" value='' required='')
            .valid-feedback
              | OK!
            .invalid-feedback
              | 不得為空
          .col-md-12
            label.form-label 連結
            input.form-control.form-bind-items-data(type='text' name="bottomUrl_item_url" value='' required='')
            .valid-feedback
              | OK!
            .invalid-feedback
              | 不得為空
      .menu_others_items
        .items
          .col-md-12
            label.form-label 是否顯示
            select.form-select.form-bind-items-select(name="menu_others_item_isEnable" required='')
              option(value=1) 顯示
              option(value=0) 不顯示
            .valid-feedback
              | OK!
            .invalid-feedback
              | 不得為空
          .col-md-12
            label.form-label 事件代碼
            input.form-control.form-bind-items-data(type='text' name="menu_others_item_id" value='' required='')
            .valid-feedback
              | OK!
            .invalid-feedback
              | 不得為空
          .col-md-12
            label.form-label 標題
            input.form-control.form-bind-items-data(type='text' name="menu_others_item_title" value='' required='')
            .valid-feedback
              | OK!
            .invalid-feedback
              | 不得為空
          .col-md-12
            label.form-label 連結
            input.form-control.form-bind-items-data(type='text' name="menu_others_item_url" value='' required='')
            .valid-feedback
              | OK!
            .invalid-feedback
              | 不得為空
      .menu_subscribe_items
        .items
          .col-md-12
            label.form-label 是否顯示
            select.form-select.form-bind-items-select(name="menu_subscribe_item_isEnable" required='')
              option(value=1) 顯示
              option(value=0) 不顯示
            .valid-feedback
              | OK!
            .invalid-feedback
              | 不得為空
          .col-md-12
            label.form-label 事件代碼
            input.form-control.form-bind-items-data(type='text' name="menu_subscribe_item_id" value='' required='')
            .valid-feedback
              | OK!
            .invalid-feedback
              | 不得為空
          .col-md-12
            label.form-label 標題
            input.form-control.form-bind-items-data(type='text' name="menu_subscribe_item_title" value='' required='')
            .valid-feedback
              | OK!
            .invalid-feedback
              | 不得為空
          .col-md-12
            label.form-label 連結
            input.form-control.form-bind-items-data(type='text' name="menu_subscribe_item_url" value='' required='')
            .valid-feedback
              | OK!
            .invalid-feedback
              | 不得為空
      .social_items
        .items
          .col-md-12
            label.form-label 圖片
            input.form-control(type='file' value='' imgClass="social_item_icon")
            input.form-control.form-bind-items-data(type='hidden' name="social_item_icon" value='' required='')
            img.file-img.social_item_icon(src="")
            .valid-feedback
              | OK!
            .invalid-feedback
              | 不得為空
          .col-md-12
            label.form-label 連結
            input.form-control.form-bind-items-data(type='text' name="social_item_url" value='' required='')
            .valid-feedback
              | OK!
            .invalid-feedback
              | 不得為空




