extend ../Layout.pug

block pageCSS
  //- link(href="./css/index.css", rel="stylesheet")

block pageJs
  script(src="./js/greenPowerDetail.js")
  
block pageType
  - var page = 'greenPowerDetail'
  
//- block head
//-   include ../components/Header.pug

//- block footer
//-   include ../components/Footer.pug

block body
  article.green-power-detail-page
    h1 GreenPower-detail
    .btn.add-btn.btn-primary 新增
    hr
    table.table.table-striped
      thead.thead-dark
        tr
          th(scope='col') *
          th(scope='col') 標題
          th(scope='col') 相關文章標題
          th(scope='col') 標籤
          th(scope='col') 照片
          th(scope='col') 是否啟用
          th(scope='col') 
      tbody







