extend ../Layout.pug

block pageCSS
  //- link(href="./css/index.css", rel="stylesheet")

block pageJs
  script(src="./js/sendForm.js")
  script(src="./js/index.js")
  
//- block head
//-   include ../components/Header.pug

//- block footer
//-   include ../components/Footer.pug

block body
  article.index-page
    h1 Index
    hr
    form#dataForm.row.g-3.needs-validation(novalidate='' method="post" action="")
      .wrapper.c-2
        .content
          h2 meta
          .form-row
            .col-md-12
              label.form-label(for='meta_title') meta標題
              input#meta_title.form-control(type='text' name="meta_title" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='meta_description') meta描述
              input#meta_description.form-control(type='text' name="meta_description" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='meta_siteName') meta網站名稱
              input#meta_siteName.form-control(type='text' name="meta_siteName" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='meta_img') meta圖片
              input.form-control(type='file' value='' imgClass="meta_img")
              input#meta_img.form-control(type='hidden' name="meta_img" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
              img.file-img.meta_img(src="")
        .content
          h2 slogan
          .form-row
            .col-md-12
              label.form-label(for='slogan_isEnabled') 是否顯示
              select#slogan_isEnabled.form-select(name="slogan_isEnabled" required='')
                option(value=1) 顯示
                option(value=0) 不顯示
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='slogan_title') 標題
              input#slogan_title.form-control(type='text' name="slogan_title" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='slogan_subtitle') 子標題
              input#slogan_subtitle.form-control(type='text' name="slogan_subtitle" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
        .content
          h2 subscribe
          .form-row
            .col-md-12
              label.form-label(for='subscribe_isEnable') 是否顯示
              select#subscribe_isEnable.form-select(name="subscribe_isEnable" required='')
                option(value=1) 顯示
                option(value=0) 不顯示
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='subscribe_id') 事件代號
              input#subscribe_id.form-control(type='text' name="subscribe_id" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='subscribe_title') 標題
              input#subscribe_title.form-control(type='text' name="subscribe_title" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='subscribe_subtitle') 子標題
              input#subscribe_subtitle.form-control(type='text' name="subscribe_subtitle" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='subscribe_successText') 成功訂閱訊息
              input#subscribe_successText.form-control(type='text' name="subscribe_successText" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='subscribe_isSubscribedText') 已經訂閱訊息
              input#subscribe_isSubscribedText.form-control(type='text' name="subscribe_isSubscribedText" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='subscribe_buttonText') 按鈕文字
              input#subscribe_buttonText.form-control(type='text' name="subscribe_buttonText" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='subscribe_img') 圖片
              input.form-control(type='file' value='' imgClass="subscribe_img")
              input#subscribe_img.form-control(type='hidden' name="subscribe_img" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
              img.file-img.subscribe_img(src="")
        .content
          h2 feedback
          .form-row
            .col-md-12
              label.form-label(for='feedback_isEnable') 是否顯示
              select#feedback_isEnable.form-select(name="feedback_isEnable" required='')
                option(value=1) 顯示
                option(value=0) 不顯示
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='feedback_title') 標題
              input#feedback_title.form-control(type='text' name="feedback_title" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='feedback_subtitle') 子標題
              input#feedback_subtitle.form-control(type='text' name="feedback_subtitle" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
        .content
          h2 media
          .form-row
            .col-md-12
              label.form-label(for='media_isEnable') 是否顯示
              select#media_isEnable.form-select(name="media_isEnable" required='')
                option(value=1) 顯示
                option(value=0) 不顯示
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='media_title') 標題
              input#media_title.form-control(type='text' name="media_title" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
        .content
          h2 source
          .form-row
            .col-md-12
              label.form-label(for='source_isEnable') 是否顯示
              select#source_isEnable.form-select(name="source_isEnable" required='')
                option(value=1) 顯示
                option(value=0) 不顯示
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='source_title') 標題
              input#source_title.form-control(type='text' name="source_title" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='source_sourceImg') 圖片
              input.form-control(type='file' value='' imgClass="source_sourceImg")
              input#source_sourceImg.form-control(type='hidden' name="source_sourceImg" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
              img.file-img.source_sourceImg(src="")
        .content
          h2 taipower
          .form-row
            .col-md-12
              label.form-label(for='taipower_isEnable') 是否顯示
              select#taipower_isEnable.form-select(name="taipower_isEnable" required='')
                option(value=1) 顯示
                option(value=0) 不顯示
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='taipower_title') 標題
              input#taipower_title.form-control(type='text' name="taipower_title" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
        .content
          h2 newsFlash
          .form-row
            .col-md-12
              label.form-label(for='newsFlash_isEnable') 是否顯示
              select#newsFlash_isEnable.form-select(name="newsFlash_isEnable" required='')
                option(value=1) 顯示
                option(value=0) 不顯示
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
        .content
          h2 partners
          .form-row
            .col-md-12
              label.form-label(for='partners_isEnable') 是否顯示
              select#partners_isEnable.form-select(name="partners_isEnable" required='')
                option(value=1) 顯示
                option(value=0) 不顯示
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='partners_title') 標題
              input#partners_title.form-control(type='text' name="partners_title" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='partners_subtitle') 子標題
              input#partners_subtitle.form-control(type='text' name="partners_subtitle" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
        .content
          h2 cta
          .form-row
            .col-md-12
              label.form-label(for='cta_isEnable') 是否顯示
              select#cta_isEnable.form-select(name="cta_isEnable" required='')
                option(value=1) 顯示
                option(value=0) 不顯示
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='cta_title') 標題
              input#cta_title.form-control(type='text' name="cta_title" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='cta_subtitle') 子標題
              input#cta_subtitle.form-control(type='text' name="cta_subtitle" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='cta_button_0_id') 代碼
              input#cta_button_0_id.form-control(type='text' name="cta_button_0_id" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='cta_button_0_text') 內容
              input#cta_button_0_text.form-control(type='text' name="cta_button_0_text" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='cta_button_0_url') 網址
              input#cta_button_0_url.form-control(type='text' name="cta_button_0_url" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='cta_button_1_id') 代碼
              input#cta_button_1_id.form-control(type='text' name="cta_button_1_id" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='cta_button_1_text') 內容
              input#cta_button_1_text.form-control(type='text' name="cta_button_1_text" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='cta_button_1_url') 網址
              input#cta_button_1_url.form-control(type='text' name="cta_button_1_url" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
        .content
          h2 faq
          .form-row
            .col-md-12
              label.form-label(for='faq_isEnable') 是否顯示
              select#faq_isEnable.form-select(name="faq_isEnable" required='')
                option(value=1) 顯示
                option(value=0) 不顯示
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='faq_title') 標題
              input#faq_title.form-control(type='text' name="faq_title" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='faq_moreButtonText') 按鈕文字
              input#faq_moreButtonText.form-control(type='text' name="faq_moreButtonText" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='faq_url') 連結
              input#faq_url.form-control(type='text' name="faq_url" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='faq_id') 事件代號
              input#faq_id.form-control(type='text' name="faq_id" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='faq_img') 插圖
              input.form-control(type='file' value='' imgClass="faq_img")
              input#faq_img.form-control(type='hidden' name="faq_img" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
              img.file-img.faq_img(src="")
        .content
          h2 personaTab
          .form-row
            .col-md-12
              label.form-label(for='personaTab_isEnable') 是否顯示
              select#personaTab_isEnable.form-select(name="personaTab_isEnable" required='')
                option(value=1) 顯示
                option(value=0) 不顯示
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
        .content
          h2 promo
          .form-row
            .col-md-12
              label.form-label(for='promo_isEnable') 是否顯示
              select#promo_isEnable.form-select(name="promo_isEnable" required='')
                option(value=1) 顯示
                option(value=0) 不顯示
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='promo_title') 標題
              input#promo_title.form-control(type='text' name="promo_title" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='promo_description') 子標題
              input#promo_description.form-control(type='text' name="promo_description" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='promo_additionalPromo_title') additionalPromo標題
              input#promo_additionalPromo_title.form-control(type='text' name="promo_additionalPromo_title" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='promo_additionalPromo_isEnable') 是否顯示
              select#promo_additionalPromo_isEnable.form-select(name="promo_additionalPromo_isEnable" required='')
                option(value=1) 顯示
                option(value=0) 不顯示
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='promo_img') 插圖
              input.form-control(type='file' value='' imgClass="promo_img")
              input#promo_img.form-control(type='hidden' name="promo_img" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
              img.file-img.promo_img(src="")
          .form-row
            .col-md-12
              label.form-label(for='promo_additionalPromo_img') 背景圖
              input.form-control(type='file' value='' imgClass="promo_additionalPromo_img")
              input#promo_additionalPromo_img.form-control(type='hidden' name="promo_additionalPromo_img" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
              img.file-img.promo_additionalPromo_img(src="")
      .btn-box
        button.submit.btn.btn-primary(type='submit') Submit
        button.preview.btn.btn-primary(type='submit') preview





