extend ../Layout.pug

block pageCSS
  //- link(href="./css/index.css", rel="stylesheet")

block pageJs
  script(src="./js/sendForm.js")
  script(src="./js/index.js")
  
//- block head
//-   include ../components/Header.pug

//- block footer
//-   include ../components/Footer.pug

block body
  article.index-page
    h1 Index
    hr
    form#dataForm.row.g-3.needs-validation(novalidate='' method="post" action="testapi")
      .wrapper
        h3 meta
        .content
          .form-row
            .col-md-12
              label.form-label(for='meta_title') meta標題
              input#meta_title.form-control(type='text' name="meta_title" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='meta_description') meta描述
              input#meta_description.form-control(type='text' name="meta_description" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='meta_siteName') meta網站名稱
              input#meta_siteName.form-control(type='text' name="meta_siteName" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='meta_img') meta圖片
              input#meta_img.form-control(type='file' value='')
              input.form-control(type='hidden' name="meta_img" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
        h3 slogan
        .content
          .form-row
            .col-md-12
              label.form-label(for='slogan_isEnabled') 是否顯示
              select#slogan_isEnabled.form-select(name="slogan_isEnabled" required='')
                option(value=1) 顯示
                option(value=0) 不顯示
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='slogan_title') 標題
              input#slogan_title.form-control(type='text' name="slogan_title" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='slogan_subtitle') 子標題
              input#slogan_subtitle.form-control(type='text' name="slogan_subtitle" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
      button.btn.btn-primary(type='submit') Submit form





