extend ../LoginLayout.pug

block pageCSS
  //- link(href="./css/all.css", rel="stylesheet")
  link(href="./css/login.css", rel="stylesheet")

block pageJs
  //- script(src="./js/all .js")
  script(src="./js/login.js")
  
//- block head
//-   include ../components/Header.pug

//- block footer
//-   include ../components/Footer.pug

block body
  article.login-page
    .wrapper.fadeInDown
      #formContent
        form#dataForm.needs-validation(novalidate='' method="post" action="/api/v1/user/login")
          input#account.form-control.fadeIn.second(type='text' name="account" value='' required='' placeholder='account')
          .valid-feedback
            | OK!
          .invalid-feedback
            | 不得為空
          input#password.form-control.fadeIn.third(type='password' name="password" value='' required='' placeholder='password')
          .valid-feedback
            | OK!
          .invalid-feedback
            | 不得為空
          input.fadeIn.fourth(type='submit' value='Log In')

