extend ../Layout.pug

block pageCSS
  //- link(href="./css/index.css", rel="stylesheet")

block pageJs
  script(src="./js/form.js")
  
block pageType
  - var page = 'media'
  
//- block head
//-   include ../components/Header.pug

//- block footer
//-   include ../components/Footer.pug

block body
  article.media-data-form-page
    h1 MediaData
    hr
    form#dataForm.row.g-3.needs-validation(novalidate='' method="" action="")
      .wrapper
        //- h3 meta
        .content
          .form-row
            .col-md-12
              label.form-label(for='isEnable') 是否啟用
              select#isEnable.form-select(name="isEnable" required='')
                option(value=1) 啟用
                option(value=0) 不啟用
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='title') 標題
              input#title.form-control.form-bind-data(type='text' name="title" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='excerpt') 描述
              input#excerpt.form-control.form-bind-data(type='text' name="excerpt" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='source') 出處
              input#source.form-control.form-bind-data(type='text' name="source" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          //- .form-row
          //-   .col-md-12
          //-     label.form-label(for='time') 時間
          //-     input#time.form-control.form-bind-data(type='date' name="time" step="0.1" min="0" max="5" value='' required='')
          //-     .valid-feedback
          //-       | OK!
          //-     .invalid-feedback
          //-       | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='url') 連結
              input#url.form-control.form-bind-data(type='text' name="url" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='img') 照片
              input.form-control(type='file' value='' imgClass="img")
              input#img.form-control.form-bind-data(type='hidden' name="img" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
              img.file-img.img(src="")
      .page-data(data-apiUrl="/api/v1/index/media/detail" data-nextTo="mediaData.html")
      input.form-control.form-bind-data(type='hidden' name="id" value='' required='')
      button.btn.btn-primary(type='submit') Submit form





