extend ../Layout.pug

block pageCSS
  //- link(href="./css/index.css", rel="stylesheet")

block pageJs
  script(src="./js/newsFlashDetail.js")
  
block pageType
  - var page = 'newsFlash'
  
//- block head
//-   include ../components/Header.pug

//- block footer
//-   include ../components/Footer.pug

block body
  article.news-flash-detail-page
    h1 news-flash-detail
    .btn.add-btn.btn-primary 新增
    hr
    table.table.table-striped
      thead.thead-dark
        tr
          th(scope='col') *
          th(scope='col') 連結
          th(scope='col') 描述
          th(scope='col') 是否啟用
          th(scope='col') 
      tbody







