extend ../Layout.pug

block pageCSS
  //- link(href="./css/index.css", rel="stylesheet")

block pageJs
  script(src="./js/personaTabDetail.js")
  
block pageType
  - var page = 'persona'
  
//- block head
//-   include ../components/Header.pug

//- block footer
//-   include ../components/Footer.pug

block body
  article.persona-tab-detail-page
    h1 persona-tab-detail
    .btn.add-btn.btn-primary 新增
    hr
    .table-wrapper
      table.table.table-striped
        thead.thead-dark
          tr
            th(scope='col') *
            th(scope='col') 事件代號
            th(scope='col') 標題
            th(scope='col') 連結
            th(scope='col') 是否便宜
            th(scope='col') 省下價錢
            th(scope='col') 顏色
            th(scope='col') 細節標題
            th(scope='col') 名稱
            th(scope='col') 範例描述標題
            th(scope='col') 範例描述細節
            th(scope='col') 特色
            th(scope='col') 特點標題名稱
            th(scope='col') 照片
            th(scope='col') 是否啟用
            th(scope='col') 
        tbody







