extend ../Layout.pug

block pageCSS
  //- link(href="./css/index.css", rel="stylesheet")

block pageJs
  script(src="./js/sourceDetail.js")
  
block pageType
  - var page = 'source'
  
//- block head
//-   include ../components/Header.pug

//- block footer
//-   include ../components/Footer.pug

block body
  article.source-detail-page
    h1 source-detail
    .btn.add-btn.btn-primary 新增
    hr
    table.table.table-striped
      thead.thead-dark
        tr
          th(scope='col') *
          th(scope='col') 名稱
          th(scope='col') 描述
          th(scope='col') 地點
          th(scope='col') 照片
          th(scope='col') 是否啟用
          th(scope='col') 
      tbody







