extend ../Layout.pug

block pageCSS
  //- link(href="./css/index.css", rel="stylesheet")

block pageJs
  script(src="./js/store.js")
  
//- block head
//-   include ../components/Header.pug

//- block footer
//-   include ../components/Footer.pug

block body
  article.store-page
    h1 Store
    hr
    form#dataForm.row.g-3.needs-validation(novalidate='' method="post" action="store")
      .wrapper.c-2
        .content
          h3 general
          .form-row
            .col-md-12
              label.form-label(for='general_title') 標題
              input#general_title.form-control.form-bind-data(type='text' name="general_title" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
        .content
          h3 form
          .form-row
            .col-md-12
              label.form-label(for='form_title') 標題
              input#form_title.form-control.form-bind-data(type='text' name="form_title" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='form_description') 描述
              input#form_description.form-control.form-bind-data(type='text' name="form_description" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
        .content
          h3 why
          .form-row
            .col-md-12
              label.form-label(for='why_title') 標題
              input#why_title.form-control.form-bind-data(type='text' name="why_title" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='why_description') 描述
              input#why_description.form-control.form-bind-data(type='text' name="why_description" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='why_img') 圖片
              input.form-control(type='file' value='' imgClass="why_img")
              input#why_img.form-control.form-bind-data(type='hidden' name="why_img" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
              img.file-img.why_img(src="")
      button.btn.btn-primary(type='submit') Submit form





