extend ../Layout.pug

block pageCSS
  //- link(href="./css/index.css", rel="stylesheet")

block pageJs
  script(src="./js/unload.js")
  
block pageType
  - var page = 'unload'
  
//- block head
//-   include ../components/Header.pug

//- block footer
//-   include ../components/Footer.pug

block body
  article.unload-page
    h1 Unload
    hr
    form#dataForm.row.g-3.needs-validation(novalidate='')
      .wrapper
        .content
          //- h3 cta
          .form-row
            .col-md-12
              label.form-label(for='isEnable') 是否顯示
              select#isEnable.form-select(name="isEnable" required='')
                option(value=1) 顯示
                option(value=0) 不顯示
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='title') 標題
              input#title.form-control.form-bind-data(type='text' name="title" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='url') 連結
              input#url.form-control.form-bind-data(type='text' name="url" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='content') 內容
              textarea#content.form-control.form-bind-data(type='text' name="content" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
          .form-row
            .col-md-12
              label.form-label(for='ctaButton') 按鈕顯示名稱
              input#ctaButton.form-control.form-bind-data(type='text' name="ctaButton" value='' required='')
              .valid-feedback
                | OK!
              .invalid-feedback
                | 不得為空
      button.btn.btn-primary(type='submit') Submit form





