=rwd($w)
  @media only screen and (max-width: $w)
    @content
=minW($w)
  @media only screen and (min-width: $w)
    @content
=rwdh($h:900px)
  @media only screen and (max-height: $h)
    @content
=minH($h:900px)
  @media only screen and (min-height: $h)
    @content

=clearfix
  &:after
    content: ''
    display: block
    clear: both

=keyframes($name)
  @-webkit-keyframes #{$name}
    @content
  @-moz-keyframes #{$name}
    @content
  @-ms-keyframes #{$name}
    @content
  @keyframes #{$name}
    @content
=animation($content)
  -webkit-animation: $content
  -moz-animation: $content
  -o-animation: $content
  animation: $content

=before($txt:'')
  &:before
    content: $txt
    display: block
    @content

=after($txt:'')
  &:after
    content: $txt
    display: block
    @content

=hover($w:768px)
  @media only screen and (min-width: $w)
    &:hover
      @content

=pstc0($t:0,$l:0,$b:0,$r:0)
  position: absolute
  top: $t
  bottom: $b
  left: $l
  right: $r
  margin: auto

=pstc5($t:50%,$l:50%)
  position: absolute
  top: $t
  left: $l
  transform: translate(-50%,-50%)

=fontH1()
  font-size: 1.5rem
  line-height: 1.5

=fontH2()
  font-size: 1.333333333333333rem
  line-height: 1.5

=fontH3()
  font-size: 1.166666666666667rem
  line-height: 1.5

=fontP()
  font-size: 1rem
  line-height: 1.5

=dib
  display: inline-block
  vertical-align: middle

$red: #cc0000
$yellow: #ffff00

*
  padding: 0
  margin: 0px
  // outline: 1px solid #f00
  font-family: 'Roboto','Noto Sans TC', sans-serif

p,a
  padding: 0
  margin: 0
  text-decoration: none

img,iframe
  width: 100%
  vertical-align: top

html
  font-size: 20px

body
  // background-color: #f3c100
  font-size: 0

hr
  margin: 0.5rem 0

h1
  +dib
  +fontH1
h2
  +fontH2

#sidebar
  width: 220px
  height: 100vh
  font-size: 1rem
  background-color: #212529
  overflow-y: auto
  position: fixed
  top: 0
  left: 0
  z-index: 2
  .sidebar-wrapper
    width: 100%
    height: 100%
    padding: 15px
    box-sizing: border-box
    color: #fff
    .sidebar-title
      // padding-bottom: 20px
      font-size: 1.2rem
    .box
      a.link
        padding: 10px 5px
        display: block
        color: #fff
        border-radius: .2rem
        transition: .3s
        p
          font-size: 1rem
          text-decoration: none
        &:hover
          color: #333
          background-color: #fff
        &.active
          color: #333
          background-color: #fff
          & + .sub-list
            display: block
      .sub-list
        display: none
        &.active
          display: block
        a.link
          padding: 5px 0px 5px 20px
          p
            font-size: 0.8rem

.body-wrapper
  width: calc(100% - 220px)
  min-height: 100vh
  padding: 15px
  padding-top: 70px
  margin-left: 220px
  font-size: 1rem
  background-color: #ECF0F5
  box-sizing: border-box
  position: relative

header
  width: 100%
  color: #fff
  background-color: #3C8DBB
  position: fixed
  top: 0
  left: 0
  z-index: 1
  .wrapper
    margin: .5rem 1rem
    text-align: right
    .user-name,.logout
      font-size: 1rem
      margin: 0 .5rem
      +dib
    .logout
      cursor: pointer

// .table-data
//   width: 100%
//   border: 1px solid #333
//   border-radius: 5px
//   .table-head
//     display: flex
//     justify-content: space-between
//     align-items: center
//     background-color: #333
//     color: #fff
//   .table-body
//     .data-row
//       display: flex
//       justify-content: space-between
//       align-items: center
//       padding: .2rem 0
//   .data-row + .data-row
//     border-top: 1px solid #ccc
//   .column
//     flex: 1
//     text-align: center

.btn
  // color: #fff
  // background-color: #333
  // font-size: 1rem
  // line-height: 1.2

form
  .wrapper
    margin: 20px 0
    // display: flex
    // justify-content: space-between
    // flex-wrap: wrap
    // olumn-count: 3
    // column-gap: 0
    &.c-2
      column-count: 2
      column-gap: 15px
    .content
      break-inside: avoid
      width: 100%
      padding: 15px
      margin-bottom: 15px
      background-color: #fff
      box-sizing: border-box
      border-top: 2px solid #3C8DBB
      h2
        border-bottom: 1px solid #ddd
      .form-row + .form-row
        margin-top: 0.5rem
      .form-label
        margin-bottom: 0rem
        font-size: 0.8rem
        font-weight: bold
        span.remark
          padding: 0 0.5rem
          font-size: .6rem
      .file-img
        width: 200px
        max-height: 200px
        margin: 10px 0
        object-fit: contain
      .items-title
        font-size: 0.8rem
      .items-box
        width: 100%
        padding: 10px
        border: 1px solid rgba(#3C8DBB,.3)
        border-radius: 5px
        box-sizing: border-box
        .items
          padding: 10px
          border-radius: 5px
          background-color: rgba(#3C8DBB,.1)
          & + .items
            margin-top: 10px
      .btn-add
        margin: 10px 0
  .page-data
    position: absolute
    top: 0
    left: 0
    z-index: -100
    opacity: 0
  .btn-box
    text-align: center
    button.btn
      width: 100px
      margin: 0 .5rem
      display: inline-block

.hidde-box
  opacity: 0
  position: absolute
  top: 0
  left: 0
  z-index: -100

.table-wrapper
  overflow-x: auto
table
  background-color: #fff
  th,td
    vertical-align: middle
  img
    width: 100px
    height: 100px
    object-fit: contain

.colorpick-eyedropper-input-trigger
  display: none

textarea
  height: 200px
  resize: none

input[type="color"]
  width: 100px
  height: 50px

.add-btn
  float: right
