doctype html
html(lang="zh-Hant-TW")
  head
    include partials/Meta.pug
    include partials/CssLink.pug
    block pageCSS
    include partials/JsSrc.pug
  body
    block head
    block body
    block footer
    block pageJs


    